{
  "extends": "eslint-config-umi",
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "no-console": "warn",
    "valid-jsdoc": "off",
    "react/no-direct-mutation-state": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-restricted-globals": [0]
  }
}
