/coverage
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/npm.lock
/package-lock.json

# production
/dist*
/c5*

# misc
.DS_Store
.AppleDouble
.LSOverride

# umi
.umi
.umi-production

# jslingui
src/locales/_build
src/locales/**/*.js
/.idea
