.tagview {
  float: left;
  padding: 0 1rem;
  color: #1E2536;
  border-right: 1px solid #EDEDED;
  //height: 6.5rem;
  line-height: 45px;
  font-size: 1.867rem;
  white-space: nowrap;
  cursor: pointer;
  transition: background, color 0.3s;

  > a {
    color: #1E2536;
  }

  &:hover {
    background: #ececec;

    i {
      color: #d80d18 !important;
    }
  }
}

.isActive {
  background: #3361ff;
  transition: all 0.3s;

  &:hover {
    background: #3363ffa9; //#f7f8fa

    a {
      color: #ffffff !important;
    }

    i {
      color: #d80d18 !important;
    }
  }

  a,
  i {
    color: #fff !important;
  }

}
