.tagview {
  float: left;
  // padding: 0 1rem;
  color: #1e2536;
  border-right: 1px solid #ededed;
  //height: 6.5rem;
  //line-height: 45px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  transition: background, color 0.3s;

  a {
    color: #1e2536;
  }
  i {
    font-size: 13px;
    margin-left: 2px;
    color: #fff;
  }

  // &:hover {
  //   background: #ececec;

  //   i {
  //     color: #b8afaf !important;
  //   }
  // }
}

.isActive {
  background: #f3f4f4;
  transition: all 0.3s;

  &:hover {
    background: #f3f4f4; //#f7f8fa
    transition: all 0.3s;
    a {
      // color: #ffffff !important;
      font-weight: bold;
    }

    i {
      color: #ececec !important;
    }
  }

  a {
    // color: #fff !important;
    font-weight: bold;
  }
  i {
    color: #f3f4f4;
  }
}

.curTabsBak{
  margin: 5px;
  padding: 0 20px;
  line-height: 37px;
  height: calc(100% - 10px);
  border-radius: 6px;

  a:hover {
    color: #1e2536;
  }

  &:hover {
    background: #f3f4f4;

    i {
      color: #b8afaf !important;
    }
  }
}
