.tagview {
  float: left;
  // padding: 0 1rem;
  color: #1e2536;
  border-right: 1px solid white;
  //height: 6.5rem;
  //line-height: 45px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  transition: background, color 0.3s;

  a {
    color: #1e2536;
  }
  i {
    font-size: 13px;
    margin-left: 2px;
    color: white;
  }

  // &:hover {
  //   background: #ececec;

  //   i {
  //     color: #b8afaf !important;
  //   }
  // }
  .curTabsBak {
    margin: 0 5px;
    padding: 0 15px 0 10px;
    position: relative;
    flex: 1;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #f3f4f4;
    background: white;


    //margin: 5px;
    //padding: 0 20px;
    //line-height: 37px;
    //height: calc(100% - 10px);
    border-radius: 6px;

    a:hover {
      color: #1e2536;
    }

    &:hover {
      //background: #f3f4f4;

      i {
        color: #b8afaf !important;
      }
    }

  }

  .isActive {
    background: #f3f4f4;
    color: #333;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    box-shadow: 10px 10px 0 0 #f3f4f4, -10px 10px 0 0 #f3f4f4;

    &:before {
      content: "";
      position: absolute;
      left: -10px;
      bottom: 0;
      width: 10px;
      height: 45px;
      background: white;
      border-radius: 0 0 10px 0;
    }

    &:after {
      content: "";
      position: absolute;
      right: -10px;
      bottom: 0;
      width: 10px;
      height: 45px;
      background: white;
      border-radius: 0 0 0 10px;
    }

    //background: #f3f4f4;
    transition: all 0.3s;

    &:hover {
      //background: #f3f4f4; //#f7f8fa
      transition: all 0.3s;

      a {
        // color: #ffffff !important;
        font-weight: bold;
      }

      i {
        color: #b8afaf !important;
        font-weight: bold;
      }
    }

    a {
      // color: #fff !important;
      font-weight: bold;
    }

    i {
      color: #f3f4f4;
    }


  }


}

.tagview:nth-of-type(1) {
  .curTabsBak:nth-of-type(1) {
    margin: 0 !important;
    border-radius: 0 10px;
  }
}

.isActive {
  background: white;
  transition: all 0.3s;

  &:hover {
    //background: #f3f4f4; //#f7f8fa
    transition: all 0.3s;

    a {
      // color: #ffffff !important;
      font-weight: bold;
    }

    i {
      color: white !important;
    }
  }

  a {
    // color: #fff !important;
    font-weight: bold;
  }
  i {
    color: white;
  }
}

.curTabsBak{
  margin: 5px;
  padding: 0 20px;
  line-height: 37px;
  height: calc(100% - 10px);
  border-radius: 6px;

  a:hover {
    color: #1e2536;
  }

  &:hover {
    //background: #f3f4f4;

    i {
      color: #b8afaf !important;
    }
  }
}
