@charset "utf-8";

/*m-header*/
.m-header {

  &.ant-layout-header {
    width: 100%;
    .pos(f);
    padding: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0);
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0);
    height: 8rem;
    line-height: 8rem;
    z-index: 112;

    .m-header-left {
      padding: 0.25rem 2rem;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.3);

      span {
        .font-s14();
      }

      i {
        margin-right: 0.5rem;
        .font-s14();
      }

      &.m-header-left-active {
        color: rgba(255, 255, 255, 1)
      }

      &:last-child {
        border-right: none;
      }
    }

    //新客户全景
    .m-cusheader-left {
      .dib();
      height: 5rem;
      vertical-align: 5%;
      padding: 0 1rem;

      .m-cusheader-text {
        .dib();
        line-height: 5rem;
        color: #fff;
        .font-s15();
        padding-right: .333rem;
      }
    }

  }

  &.m-header360 {

    padding: 0 0 0 16.666rem;

    .menu-list {

      height: 5rem;
      color: #fff;
      .dib();
      padding: 0 1.25rem;

      &:hover {
        background: rgba(255, 255, 255, 0.2)
      }

    }
  }

  .m-sys-name {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 3rem 0 1rem;
  }

  .m-logo {
    width: 23rem;
    border-right: 1px solid rgba(0, 0, 0, .08);
    height: 8rem;
    .fl();
  }

  .m-logo-link {
    .db();
    padding: 0 0 0 0.333rem;
    .tc();

    img {
      width: 18rem;
      height: 5rem;
    }
  }

  .m-avatar {
    width: 4.133rem;
    height: 4.133rem;
    .border-radius(@radius: 5.333rem);
    vertical-align: middle;
  }

  //m-dropdown
  .m-dropdown {

    .dib();
    .pos(r);
    height: 8rem;
    line-height: 8rem;


    .m-dropdown-title {

      height: 8rem;
      line-height: 8rem;
      padding: 0 1.5rem;
      font-size: 1.833rem;
      // .dib();
      .pos(r);
      overflow: hidden;

      a {
        color: #fff;

        &:hover,
        &:active {
          color: #fff;
        }
      }

      &:hover {

        background: rgba(0, 0, 0, .1);

        .m-waves-ripple {
          .border-radius(100%);
          .pos(a);
          .dib();
          width: 11rem;
          height: 11rem;
          top: -1.25rem;
          left: -1.25rem;
          opacity: 0;
          background: rgba(255, 255, 255, .4);
          background: -webkit-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
          background: -o-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
          background: -moz-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
          background: radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
          animation: heart1 0.5s ease-in-out;
          -webkit-animation: heart1 0.5s ease-in-out;

          :local {
            animation: heart1 .5s ease-in-out;
            -webkit-animation: heart1 .5s ease-in-out;
          }
        }
      }

      .ant-badge {

        color: #fff;

        .ant-badge-status-dot {
          .pos(a);
          top: 2.5rem;
          right: 0;
        }

        .ant-badge-status-processing {
          background: @pink;
        }

        .ant-badge-status-processing:after {
          .pos(a);
          top: -0.75rem;
          left: -0.833rem;
          height: 2.083rem;
          width: 2.083rem;
          border: .416rem solid @pink;
          animation: heart 1s infinite ease-in-out;
          -webkit-animation: heart 1s infinite ease-in-out;

          :local {
            // animation: heart 1s infinite ease-in-out;
            // -webkit-animation: heart 1s infinite  ease-in-out;
          }
        }

        .ant-badge-status-text {
          color: #fff;
          margin: 0;
        }

      }
    }

    .ant-dropdown {

      width: 40rem;
      top: 8rem !important;
      left: -34rem !important;
      font-family: @all-family;

      .ant-dropdown-menu {

        .border-radius(0);

        .ant-dropdown-menu-item {
          background: #fff;
        }
      }
    }

    .slide-up-enter.slide-up-enter-active,
    .slide-up-appear.slide-up-appear-active {
      opacity: 1;
      -webkit-animation: translate 1s ease-in-out;
      animation: translate 1s ease-in-out;

      :local {
        animation: translate 1s ease-in-out;
        -webkit-animation: translate 1s ease-in-out;
      }

      -webkit-animation-play-state: running;
      animation-play-state: running;
    }

    .ant-dropdown.slide-down-enter.slide-down-enter-active.ant-dropdown-placement-bottomLeft,
    .ant-dropdown.slide-down-appear.slide-down-appear-active.ant-dropdown-placement-bottomLeft,
    .ant-dropdown.slide-down-enter.slide-down-enter-active.ant-dropdown-placement-bottomCenter,
    .ant-dropdown.slide-down-appear.slide-down-appear-active.ant-dropdown-placement-bottomCenter,
    .ant-dropdown.slide-down-enter.slide-down-enter-active.ant-dropdown-placement-bottomRight,
    .ant-dropdown.slide-down-appear.slide-down-appear-active.ant-dropdown-placement-bottomRight {
      -webkit-animation-name: translate 1s ease-in-out;
      animation-name: translate 1s ease-in-out;

      :local {
        animation: translate 1s ease-in-out;
        -webkit-animation: translate 1s ease-in-out;
      }
    }



    &.active {
      .m-dropdown-title {
        background: rgba(255, 255, 255, 0.2);
      }

      .ant-dropdown {
        .dib();
      }
    }



  }

}


@media (max-width: 1200px) {
  .m-input-search-sm {
    .dn() !important;
  }
}


//translate
@-webkit-keyframes translate {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1.000);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1.000)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }

  to {
    -webkit-transform: none;
    transform: none
  }
}

@-moz-keyframes translate {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1.000);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1.000)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }

  to {
    -webkit-transform: none;
    transform: none
  }
}

@-ms-keyframes translate {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1.000);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1.000)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }

  to {
    -webkit-transform: none;
    transform: none
  }
}

@keyframes translate {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1.000);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1.000)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }

  to {
    -webkit-transform: none;
    transform: none
  }
}

.m-header-xin {
  &.ant-layout-header {
    height: 8rem;
    line-height: 8rem;

    .ant-layout-header {
      height: 8rem;
      line-height: 8rem;
    }
  }
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-item.current {
  background-color: #f2f2f2 !important;
}

//中金
.logo {
  // height: 4.5rem;
  //height: 6rem;
  // width: 16rem;
  //margin: 0 0.5rem 0 0px;
}
.zy-header-wrap {
  &.ant-layout-header {
    height: 45px;
    // overflow: hidden !important;
    line-height: 45px;
    padding: 0;
    .border-top-left-radius(1rem);
    background: #fff;
  }
}

.zj-header {
  //height: 6.5rem;
  box-shadow: -1px 0 5px 0 #D0D2D4;
  .dis-fx();
  .pos(r);
  z-index: 99;

  .zj-ico-home {
    .font-s17();
    //color: @tag-color;
    padding: 0 .5rem;
  }

  .zy-ico-del {
    .font-s13();
    // color: #3361ff;
    margin-left: .833rem;
  }

  .m-dropdown {
    .dib();
    .pos(r);
    //height: 6.5rem;
    line-height: 43px;

    .m-dropdown-title {
      //height: 6.5rem;
      line-height: 43px;
      //padding: 0 3.25rem;
      .pos(r);
      overflow: hidden;

      a {
        color: @title-color;

        &:hover,
        &:active {
          color: #3361ff;
        }
      }
    }
  }
}

.scrollbars {
  .div {
    &:first-child {
      overflow-y: hidden !important;
      overflow-x: auto !important;
    }
  }
}

.visitedRoutes__tagview___2_7la:nth-of-type(1) {
  .visitedRoutes__curTabsBak___3Qekc:nth-of-type(1) {
    margin: 0 !important;
    border-radius: 0 10px;
  }
}

;

.clearfix {
  *zoom: 1;

  display: flex;
  align-items: center;
  background: #f3f4f4;

  .visitedRoutes__tagview___2_7la {
    .visitedRoutes__curTabsBak___3Qekc {
      margin: 0 5px;
      padding: 0 10px;
      position: relative;
      flex: 1;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #fff;
      background: #f3f4f4;
    }

    .visitedRoutes__isActive___38JGQ {
      background: #fff;
      color: #333;
      z-index: 1;
      border-radius: 10px 10px 0 0;
      box-shadow: 10px 10px 0 0 white, -10px 10px 0 0 white;

      &:before {
        content: "";
        position: absolute;
        left: -21px;
        bottom: 0;
        width: 21px;
        height: 45px;
        background: #f3f4f4;
        border-radius: 0 0 10px 0;
      }

      &:after {
        content: "";
        position: absolute;
        right: -21px;
        bottom: 0;
        width: 21px;
        height: 45px;
        background: #f3f4f4;
        border-radius: 0 0 0 10px;
      }
    }
  }
}

  .clearfix:after,
  .clearfix:before {
    display: table;
    content: '';
    height: 0 !important;
    clear: both;
    visibility: hidden;
  }
