//font weight
.font-w700() {
  font-weight: 700;
}

.font-wb() {
  font-weight: bold;
}

.font-w400() {
  font-weight: 400;
}

.font-w500() {
  font-weight: 500;
}

.font-w600() {
  font-weight: 600;
}

.font-wn() {
  font-weight: normal;
}

//font size
.font-s(@p: 12px) {
  font-size: @p;
}

.font-s0() {
  font-size: 0;
}

.font-s12() {
  font-size: 12px;
}

.font-s14() {
  font-size: 14px;
}

.font-s16() {
  font-size: 16px;
}

.skip-current-week .ant-modal-body {
  padding: 10px !important;
}

//周报详情
.weekly-report-detail {
  overflow: hidden;

  & .top-console {
    height: 9.5232rem;
    margin: 3.5712rem 3.5712rem 2.6784rem 3.5712rem;
    background-color: white;
    box-shadow: 0 0.1488rem 0.5952rem 0 rgba(20, 38, 98, 0.04);
    border-radius: 1.1904rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3.5712rem;
    font-size: 2.0832rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #303133;

    & .console-title {
      font-size: 2.6784rem;
      font-family: PingFangSC-Medium;
      font-weight: 600;
      // margin-right: 56.1472rem;
    }
  }

  & .table-box {
    height: 110.112rem;
    margin: 2.381rem 3.5712rem 2.6784rem 3.5712rem;
    background-color: white;
    box-shadow: 0 0.1488rem 0.5952rem 0 rgba(20, 38, 98, 0.04);
    border-radius: 1.1904rem;
    // display: flex;
    // flex-direction: row;

    & .table-console {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 9.5232rem;
      border-bottom: 1px #edf1f4 solid;
      // box-shadow: 0px 1rem 1rem 0.1488rem #edf1f4;
      padding: 0 3.5712rem;

      & .console-icon {
        height: 3.5712rem;
        margin-right: 1.1904rem;
      }

      & .console-txt {
        font-size: 2.3808rem;
        font-family: Roboto-Medium;
        font-weight: 600;
        color: #303133;
      }
    }

    & .table-content {
      padding: 0 3.5712rem;
      margin-top: 2.232rem;
    }
  }

  .ant-table {

    // height: 631px;
    th,
    td {
      padding: 5px;
      text-align: center;
      position: relative;
    }

    th {
      font-weight: 600;
    }

    .ant-table-body {
      height: 629px;
    }

    .ant-table-placeholder {
      position: absolute;
      width: 100%;
      top: 34px;
      height: 561px;
    }
  }

  //表格滚动条样式
  .ant-table-body-inner {
    max-height: 580px !important;
  }

  .ant-table-fixed-right {
    & ::-webkit-scrollbar {
      width: 10px;
      background-color: #fafafa;
    }

    & ::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border-radius: 9px;
    }
  }

  .ant-table-fixed-header .ant-table-scroll .ant-table-header {
    margin-bottom: -10px !important; //表格横向滚动条高度
  }

  .ant-table-scroll {
    & ::-webkit-scrollbar {
      height: 10px;
      width: 10px;
      background-color: #fafafa;
    }

    & ::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border-radius: 9px;
    }
  }

  .editable-cell {
    position: relative;
  }

  .edited-img {
    height: 2.232rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .normal-cell-value-wrap {
    // height: 13.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // -webkit-box-orient: vertical; //不起效=>写行内
  }

  .ant-table-row-cell-ellipsis {

    // height: 51px;
    // .ant-calendar-picker-clear,
    .ant-calendar-picker-icon {
      z-index: 0;
    }
  }

  .editable-cell-value-wrap {
    // height: 13.8rem;
    min-height: 4.7616rem;
    padding: 0.744rem 1.7856rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    // display: -webkit-box;
    white-space: nowrap;
    // -webkit-box-orient: vertical; //不起效=>写行内
    // -webkit-line-clamp: 4;
  }

  .editable-row:hover .editable-cell-value-wrap {
    border: 0.1488rem solid #d9d9d9;
    border-radius: 0.5952rem;
    padding: 0.5952rem 1.6368rem;
  }
}

//外包生命周期
.epiboly-life-cycle {
  overflow: hidden;

  & .top-console {
    height: 9.5232rem;
    margin: 3.5712rem 3.5712rem 2.6784rem 3.5712rem;
    background-color: white;
    box-shadow: 0 0.1488rem 0.5952rem 0 rgba(20, 38, 98, 0.04);
    border-radius: 1.1904rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3.5712rem;
  }

  & .projects-box {
    & .project-item {
      height: 53.2944rem;
      margin: 3.5712rem 3.5712rem 2.6784rem 3.5712rem;
      background-color: white;
      box-shadow: 0 0.1488rem 0.5952rem 0 rgba(20, 38, 98, 0.04);
      border-radius: 1.1904rem;
      padding: 0 3.5712rem;

      & .item-header {
        height: 10.7136rem;
        border-radius: 1.1904rem 1.1904rem 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        & .header-icon {
          height: 3.5712rem;
          width: 3.5712rem;
        }

        & .header-txt {
          font-size: 2.3808rem;
          font-family: PingFangSC-Medium;
          font-weight: 600;
          color: #303133;
          margin-left: 2.3808rem;
        }
      }

      & .item-content {
        height: 31.7184rem;
        border-top: 0.29rem dashed #EBEEF5;
        border-bottom: 0.29rem dashed #EBEEF5;
        padding: 3.5712rem 0;
        overflow: hidden;
        // overflow-x: auto;

        & .content-steps {
          width: 171rem;

          .ant-steps-item-finish .ant-steps-item-icon {
            background-color: #fff;
            border-color: #3361ff;
          }

          .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
            color: #3361ff;
          }

          .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
            background-color: #3361ff;
          }

          .ant-steps-item-process .ant-steps-item-icon {
            background: #3361ff;
          }

          .ant-steps-item-process .ant-steps-item-icon {
            // background-color: #fff;
            border-color: #3361ff;
          }
        }


        & .content-processes {
          display: flex;
          flex-direction: row;
          padding-top: 1.1904rem;

          & .process-box-wrapper {
            margin-top: 1.3392rem;
            margin-right: 3.8688rem;
            position: relative;

            & .triangle-up img {
              content: '';
              position: absolute;
              height: 15px;
              font-size: 15px;
              color: #fafafb;
              left: 4.5px;
              top: -8px;
              transition: all 0.5s;
            }

            & .process-box {
              background: #FAFAFB;
              border: 0.1488rem solid #EBEEF5;
              box-shadow: 0.1488rem 0.1488rem 1.1904rem 0.4464rem rgba(64, 84, 128, 0.08);
              -o-box-shadow: 0.1488rem 0.1488rem 1.1904rem 0.4464rem rgba(64, 84, 128, 0.08);
              -moz-box-shadow: 0.1488rem 0.1488rem 1.1904rem 0.4464rem rgba(64, 84, 128, 0.08);
              -webkit-border-shadow: 0.1488rem 0.1488rem 1.1904rem 0.4464rem rgba(64, 84, 128, 0.08);
              border-radius: 0.5952rem;
              width: 35.712rem;
              height: 16.8144rem;
              padding: 2.3808rem;
              // transition: background-color 0.5s;

              &:hover {
                background-color: #ffffff;
              }

              &:nth-last-child(1) {
                margin-right: 0;
              }

              .process {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 2.232rem;
                font-size: 2.0832rem;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: #333333;
                margin-bottom: 2.3808rem;
                overflow: hidden;
                cursor: pointer;

                &:nth-last-child(1) {
                  margin-bottom: 0;
                }

                & .point {
                  margin-right: 1rem;
                  height: 1rem;
                  width: 1rem;
                  background-color: white;
                  border-radius: 50%;
                  border: 0.25rem solid rgb(192, 196, 204);
                }

                & .process-name {
                  &:hover {
                    transition: color 0.5s;
                    color: #3361FF;
                  }
                }

                & .process-exe {
                  margin-left: auto;
                }
              }
            }
          }

        }

      }

      & .item-footer {
        height: 10.5648rem;
        border-radius: 0 0 1.1904rem 1.1904rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        & .footer-txt {
          font-size: 2.0832rem;
          font-family: PingFangSC-Regular;
          font-weight: 600;
          color: #303133;
          margin-right: 3.5712rem;
        }

        & .daily-task {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 3.5712rem;
          padding-right: 1.7856rem;
          border-radius: 3.5712rem;
          border: 0.1488rem solid #EBEEF5;
          margin-right: 3.5712rem;
          cursor: pointer;

          & .footer-icon {
            height: 3.5712rem;
            width: 3.5712rem;
            margin-left: -0.0744rem;
          }

          & .footer-icon-txt {
            font-size: 2.0832rem;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: #303133;
            margin-left: 1.1904rem;
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

//信息修改弹窗
.editMessage-modify {
  & .ant-modal-content {
    border-radius: 8px;

    & .ant-modal-close-x {
      color: white;
      height: 42px;
      width: 42px;
      line-height: 42px;
    }

    .ant-btn-primary {
      background-color: rgb(51, 97, 255);
    }
  }

  //表格滚动条
  .ant-table-header {
    min-width: 0 !important;
  }

  .ant-table-scroll {
    & ::-webkit-scrollbar {
      width: 10px;
      background-color: #fafafa;
    }

    & ::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border-radius: 9px;
    }
  }

  .ant-table {
    // max-height: 255px;
    height: 242px;

    // overflow: auto;
    th,
    td {
      text-align: center;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }
  }

  .editable-cell {
    position: relative;
    // height: 46px;
  }

  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
}

//OperationList
.operationListSelectBox {
  :global {
    .ant-select-selection {
      border-color: transparent;
      box-shadow: none;
      font-size: 16px;
      font-family: PingFangSC-Medium;
      font-weight: 600;
      color: #303133;

      & .ant-select-arrow {
        display: none;
      }
    }
  }
}

.popover-filelist {

  // :global {
    .ant-popover-content {
      .ant-popover-inner {
        .ant-popover-inner-content {
          padding: 8px 16px;

          & .file-item {
            margin-bottom: 8px;

            &:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  // }
}

//生命周期
.LifeCycleManage {
  width: 100%;
  background-color: white;

  .head {
    line-height: 9.52rem;
    padding: 2.381rem 3.571rem;
    display: flex;

    .head-img {
      width: 4.762rem;
      height: 4.762rem;
      margin-right: 2rem;
    }

    .head-icon {
      display: flex;
      align-items: center;
      line-height: 3.273rem;
      color: rgba(192, 196, 204, 1);
    }

    .head1 {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      width: 20%;
      font-size: 2.381rem;
      .font-w600();
      line-height: 3.273rem;
      color: rgba(48, 49, 51, 1);
    }

    .head2 {
      display: flex;
      align-items: center;
      width: 15%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);

      .head2-title {
        display: flex;
        align-items: center;
        border-radius: 1.785rem;
        height: 4rem;

        .head2-cont {
          margin-left: 2rem;
          border-radius: 1.785rem;
          height: 1rem;
          width: 1rem;
        }
      }
    }

    .head3 {
      display: flex;
      align-items: center;
      width: 27%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);
    }

    .head4 {
      display: flex;
      align-items: center;
      width: 15%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);
    }

    .head6 {
      display: flex;
      align-items: center;
      width: 15%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);
    }

    .head5 {
      display: flex;
      align-items: center;
      //width: 5%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);

      .head5-title {
        //display: flex;
        //align-items: center;
        //border-radius: 50%;
        //height: 4.5rem;
        //width: 4.5rem;
        //background: rgba(51, 97, 255, 1);

        .head5-cont {
          border: solid 2px rgba(51, 97, 255, 1);
          display: grid;
          align-items: center;
          text-align: center;
          //margin: 0.25rem;
          border-radius: 50%;
          height: 4.762rem;
          width: 4.762rem;
          background: white;
        }
      }
    }
  }

  .card {
    display: flex;

    .title {
      width: 1%;
      display: flex;
      align-items: center;

      .right {
        display: flex;
        align-items: center;
      }
    }

    .cont {
      background: rgba(20, 38, 98, 0.0400);
      width: 98%;
      display: flex;
      flex-wrap: wrap;
      // overflow-y: scroll;
      overflow: hidden;
      overflow-y: auto;

      .cont-col-self {
        border-right: 0.25rem dashed #DBDFE6;

        &:nth-child(3n) {
          border-right: 0;
        }

        &:nth-last-child(1) {
          border-right: 0;
        }
      }

      .font-s14();

      .cont-col {
        margin-left: 2rem;
        //height: 56rem;
        padding: 0 30px;

        .cont-col1 {
          display: flex;
          align-items: center;
          height: 3rem;
          margin: 0 0 1rem 0;

          .left {
            width: .3rem;
            height: 1.5rem;
            background-color: red;
          }

          .right {
            color: #303133;
            font-weight: 800;
            padding-left: 1rem;
            //line-height: 20px;
          }
        }
      }

      .cont-row {
        padding: 0 1.3rem;
        color: #333333;
        font-weight: 400;

        .cont-row-point {
          margin-right: 1rem;
          // border-radius: 50%;
          // height: 1rem;
          // width: 1rem;
          width: 1rem;
          height: 1rem;
          background-color: white;
          border-radius: 50%;
          border: 0.25rem solid rgb(192, 196, 204);
        }

        .cont-row-zxqk {
          // width: 100px;
          // height: 20px;
          font-size: 12px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: #909399;
          // line-height: 20px;
          margin: 5px 0 0 14px;
        }

        .cont-row1 {
          margin: 1rem 0;
          padding-left: 2rem;
          display: inline-flex;
          align-items: center;
          .font-s12();
          color: #909399;
          font-weight: 400;

          .left {
            padding-right: 1rem;
          }

          .center {
            width: .3rem;
            height: 1.5rem;
            //background-color: red;
          }

          .right {
            padding-left: 1rem;
          }
        }
      }
    }
  }
}

//周报汇总
.WeeklyReportSummary {
  .tabs {
    margin: 1rem;
    height: 100%;
    background-color: white;

    .card {
      border-radius: 1.785rem;
    }

    .cardTitle {
      display: flex;
      margin-top: 1rem;
      margin-left: 1rem;
      width: 100%;
      font-size: 2.381rem;
      font-weight: 500;
      color: #333333;
      line-height: 3.273rem;

      .left {
        align-items: center;
        display: flex;
        width: 50%;
      }

      .right {
        width: 45%;
        text-align: end;
        height: 5.505rem;
        font-size: 3.868rem;
        font-weight: 500;
        color: #3FAAFF;
        line-height: 5.506rem;
      }
    }

    .cardCont {
      display: flex;
      margin: 0.8rem;
      width: 100%;
      font-size: 2.083rem;
      font-weight: 400;
      color: #666666;
      line-height: 2.976rem;

      .left {
        width: 50%;
      }

      .right {
        width: 45%;
        text-align: end;
        height: 2.976rem;
        font-size: 2.083rem;
        font-weight: 400;
        color: #666666;
        line-height: 2.976rem;
      }
    }
  }
}

.workBench {
  .fast-function {
    height: 100%;

    & .top-box {
      height: 26.784rem;
      background-color: #fff;
      box-sizing: border-box;
      box-shadow: #ececec 0 0.4464rem 1.488rem;
      border-radius: 1.488rem;
      margin-bottom: 2.232rem;
      padding: 1.6368rem 3.712rem 0 3.5712rem;
      position: relative;

      & .title-box {
        height: 8.3328rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 2.3808rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 600;
        color: #303133;

        & .title-icon {
          height: 3.5712rem;
          margin-right: 1.1904rem;
        }

      }

      & .last-icon {
        height: 3.5712rem;
        position: absolute;
        top: 14.88rem;
        left: 1.9344rem;
        z-index: 2;
      }

      & .next-icon {
        height: 3.5712rem;
        position: absolute;
        top: 14.88rem;
        left: 48.0624rem;
        z-index: 2;
      }

      & .slider-box {
        height: 13.2432rem;
        background-color: #FAFAFB;
        border-radius: 1.1904rem;
        padding: 2.3808rem;
        z-index: 1;

        & .title {
          font-size: 2.0832rem;
          font-weight: 500;
          margin-bottom: 2.0832rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: 600;
          color: #333333;

          & .title-time {
            margin-left: auto;
            color: #999999;
            font-weight: 500;
          }
        }

        & .content-box {
          font-weight: 600;
          color: #D70E19;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .ant-carousel .slick-slide {
        overflow: hidden;
        height: 16.8144rem;
      }

      .ant-carousel .slick-dots li button {
        background-color: #3361FF;
        height: 6px;
        border-radius: 3px;
        opacity: 0.2;
      }

      .ant-carousel .slick-dots .slick-active button {
        background-color: #3361FF;
        height: 6px;
        border-radius: 3px;
        opacity: 1;
      }
    }

    & .bottom-box {
      height: 212px;
      background-color: #fff;
      box-sizing: border-box;
      box-shadow: #ececec 0 3px 10px;
      border-radius: 10px;
      padding: 2.976rem 3.5712rem;
    }
  }

  .fastFun {
    .fastFun-head {
      //padding-left: 1rem;
      //padding-bottom: 0.5rem;
      display: flex;
      //width: 5%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);

      .fastFun-head-title {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: 7.143rem;
        width: 7.143rem;

        .fastFun-head-cont {
          width: 100%;
          height: 100%;
          display: grid;
          align-items: center;
        }
      }
    }

    .fastFun-head {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      line-height: 3.273rem;
    }
  }

  //首页项目进度
  .workBench-LifeCycleManage {
    width: 100%;
    background-color: white;

    .head {
      font-size: 2.083rem;
      //height:10rem;
      padding: 0rem;
      display: flex;
      align-items: center;

      .head-img {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
      }

      .head-icon {
        line-height: 3.273rem;
        color: rgba(192, 196, 204, 1);
      }

      .head1 {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        width: 30%;
        font-size: 2.232rem;
        .font-w600();
        line-height: 3.273rem;
        color: rgba(48, 49, 51, 1);
      }

      .head1:hover {
        color: #3361FF;

        & .head1-link {
          color: #3361FF;
        }
      }

      .head2 {
        display: flex;
        align-items: center;
        width: 24%;
        font-size: 2.083rem;
        .font-w400();
        line-height: 2.976rem;
        color: rgba(96, 98, 102, 1);

        .head2-title {
          display: flex;
          align-items: center;
          border-radius: 1.785rem;
          height: 4rem;

          .head2-cont {
            margin-left: 2rem;
            border-radius: 1.785rem;
            height: 1rem;
            width: 1rem;
          }
        }
      }

      .head3 {
        display: flex;
        align-items: center;
        width: 25%;
        font-size: 2.083rem;
        .font-w400();
        line-height: 2.976rem;
        color: rgba(96, 98, 102, 1);
      }

      .head4 {
        display: flex;
        align-items: center;
        //width: 20%;
        font-size: 2.083rem;
        .font-w400();
        line-height: 2.976rem;
        color: rgba(96, 98, 102, 1);
      }

      .head5 {
        display: flex;
        width: 5%;
        font-size: 2.083rem;
        .font-w400();
        line-height: 2.976rem;
        color: rgba(96, 98, 102, 1);

        .head5-title {
          display: flex;
          align-items: center;
          border-radius: 50%;
          height: 4.5rem;
          width: 4.5rem;
          background: rgba(51, 97, 255, 1);

          .head5-cont {
            display: flex;
            align-items: center;
            margin: 0.25rem;
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            background: white;
          }
        }
      }
    }

    .card {
      //display: flex;

      .title {
        width: 1%;
        display: flex;
        align-items: center;

        .right {
          display: flex;
          align-items: center;
        }
      }

      .cont1 {

        .head {
          background-color: rgba(240, 242, 245, 1);
          //height:10rem;
          padding: 1.785rem;
          display: flex;

          .head1 {
            display: flex;
            margin-left: 1rem;
            width: 35%;
            font-size: 2.083rem;
            //.font-s14();
            .font-w500();
            line-height: 3.273rem;
            color: rgba(96, 98, 102, 1);
          }

          .head2 {
            display: flex;
            width: 45%;
            font-size: 2.083rem;
            //.font-s14();
            .font-w400();
            line-height: 20px;
            color: rgba(96, 98, 102, 1);
          }
        }

        border-radius: 8px 8px 0 0;
        background: rgba(20, 38, 98, 0.0400);
        //width: 98%;
        display: block;
        //overflow-y: scroll;
        font-size: 2.083rem;
      }

      .cont2 {
        background: rgba(20, 38, 98, 0.0400);
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        // overflow-y: scroll;
        overflow: hidden;
        overflow-y: auto;
        .font-s14();

        .cont-col {
          margin-left: 2rem;

          //height: 56rem;
          .cont-col1 {
            display: flex;
            align-items: center;
            height: 3rem;
            margin: 0 0 1rem 0;

            .left {
              width: .3rem;
              height: 1.5rem;
              background-color: red;
            }

            .right {
              color: #303133;
              font-weight: 800;
              padding-left: 1rem;
              //line-height: 20px;
            }
          }
        }

        .cont-row {
          padding: 0 1.3rem;
          color: #333333;
          font-weight: 400;

          .cont-row-point {
            // margin-right: 1rem;
            // border-radius: 50%;
            // height: 1rem;
            // width: 1rem;
            margin-right: 1rem;
            height: 1rem;
            width: 1rem;
            background-color: white;
            border-radius: 50%;
            border: 0.25rem solid rgb(192, 196, 204);
          }

          .cont-row-zxqk {
            // width: 100px;
            // height: 20px;
            font-size: 12px;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #909399;
            // line-height: 20px;
            margin: 5px 0 0 14px;
          }

          .cont-row1 {
            margin: 1rem 0;
            padding-left: 2rem;
            display: inline-flex;
            align-items: center;
            .font-s12();
            color: #909399;
            font-weight: 400;

            .left {
              padding-right: 1rem;
            }

            .center {
              width: .3rem;
              height: 1.5rem;
              //background-color: red;
            }

            .right {
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }

  .ProcessStatus {
    .ProcessStatus-Div {
      .title {
        font-size: 2.083rem;
        // color: rgba(48, 49, 51, 1);
        display: flex;
        align-items: center;

        .cont-row-point {
          margin-right: 1rem;
          height: 1rem;
          width: 1rem;
          background-color: white;
          border-radius: 50%;
          border: 0.25rem solid rgb(192, 196, 204);
        }

        .title-link {
          color: #303133;
          font-weight: 600;
        }

        &:hover {
          color: #3361FF;

          & .title-link {
            color: #3361FF;
          }
        }
      }

      .cont {
        margin-top: 1.19rem;
        display: flex;
        align-items: center;

        .col1 {
          font-size: 2.083rem;
          color: rgba(144, 147, 153, 1);

          .span {
            font-size: 2.083rem;
            color: rgba(48, 49, 51, 1);
          }
        }

        .col2 {
          display: flex;
          align-items: center;

          .head-title {
            display: flex;
            align-items: center;
            border-radius: 1.785rem;
            height: 4rem;

            .head-cont {
              margin-left: 2rem;
              border-radius: 1.785rem;
              height: 1rem;
              width: 1rem;
            }
          }
        }
      }
    }
  }
}

.tableStyle {

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 1.19rem;
  }
}