//font weight
.font-w700(){
  font-weight: 700;
}
.font-wb(){
  font-weight: bold;
}
.font-w400(){
  font-weight: 400;
}
.font-w500() {
  font-weight: 500;
}

.font-w600() {
  font-weight: 600;
}

.font-wn() {
  font-weight: normal;
}
//font size
.font-s(@p: 12px){
  font-size: @p;
}
.font-s0(){font-size: 0;}
.font-s12(){font-size: 12px;}
.font-s14(){font-size: 14px;}
.font-s16(){font-size: 16px;}

//信息修改弹窗
// .editMessage-modify { 
//   & .ant-modal-content{
//     & .ant-modal-close-x{
//       color: white;
//     }
//   }
// }

//OperationList
.operationListSelectBox{
  :global {
    .ant-select-selection {
      border-color: transparent;
      box-shadow: none;
      font-size: 16px;
      font-family: PingFangSC-Medium;
      font-weight: 600;
      color: #303133;
      & .ant-select-arrow {
        display: none;
      } 
    }
  }
}

//生命周期
.LifeCycleManage{
  width: 100%;
  background-color: white;
  .head{
    line-height: 9.52rem;
    padding: 2.381rem 3.571rem;
    display: flex;

    .head-img {
      width: 4.762rem;
      height: 4.762rem;
      margin-right: 2rem;
    }

    .head-icon {
      display: flex;
      align-items: center;
      line-height: 3.273rem;
      color: rgba(192, 196, 204, 1);
    }
    .head1 {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      width: 20%;
      font-size: 2.381rem;
      .font-w600();
      line-height: 3.273rem;
      color: rgba(48, 49, 51, 1);
    }
    .head2 {
      display: flex;
      align-items: center;
      width: 15%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);

      .head2-title {
        display: flex;
        align-items: center;
        border-radius: 1.785rem;
        height: 4rem;

        .head2-cont {
          margin-left: 2rem;
          border-radius: 1.785rem;
          height: 1rem;
          width: 1rem;
        }
      }
    }
    .head3 {
      display: flex;
      align-items: center;
      width: 27%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);
    }

    .head4 {
      display: flex;
      align-items: center;
      width: 15%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);
    }

    .head6 {
      display: flex;
      align-items: center;
      width: 15%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);
    }

    .head5 {
      display: flex;
      align-items: center;
      //width: 5%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);

      .head5-title {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: 4.5rem;
        width: 4.5rem;
        background: rgba(51, 97, 255, 1);

        .head5-cont {
          display: flex;
          align-items: center;
          margin: 0.25rem;
          border-radius: 50%;
          height: 4rem;
          width: 4rem;
          background: white;
        }
      }
    }
  }
  .card{
    display: flex;
    .title{
      width: 1%;
      display: flex;
      align-items: center;
      .right{
        display: flex;
        align-items: center;
      }
    }
    .cont{
      background: rgba(20, 38, 98, 0.0400);
      width: 98%;
      display: flex;
      flex-wrap: wrap;
      // overflow-y: scroll;
      overflow: hidden;
      overflow-y: auto;

      .cont-col-self{
        border-right: 0.25rem dashed #DBDFE6;

        &:nth-child(3n){
          border-right: 0;
        }
        &:nth-last-child(1){
          border-right: 0;
        }
      }

      .font-s14();
      
      .cont-col {
        margin-left: 2rem;
        //height: 56rem;
        padding: 0 30px;

        .cont-col1 {
          display: flex;
          align-items: center;
          height: 3rem;
          margin: 0 0 1rem 0;
          .left{
            width: .3rem;
            height: 1.5rem;
            background-color: red;
          }
          .right{
            color: #303133;
            font-weight: 800;
            padding-left: 1rem;
            //line-height: 20px;
          }
        }
      }
      .cont-row {
        padding: 0 1.3rem;
        color: #333333;
        font-weight: 400;

        .cont-row-point {
          margin-right: 1rem;
          // border-radius: 50%;
          // height: 1rem;
          // width: 1rem;
          width: 1rem;
          height: 1rem;
          background-color: white;
          border-radius: 50%;
          border: 0.25rem solid rgb(192, 196, 204);
        }

        .cont-row-zxqk{
          // width: 100px;
          // height: 20px;
          font-size: 12px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: #909399;
          // line-height: 20px;
          margin: 5px 0 0 14px;
        }

        .cont-row1{
          margin: 1rem 0;
          padding-left: 2rem;
          display: inline-flex;
          align-items: center;
          .font-s12();
          color: #909399;
          font-weight: 400;
          .left{
            padding-right: 1rem;
          }
          .center{
            width: .3rem;
            height: 1.5rem;
            //background-color: red;
          }
          .right{
            padding-left: 1rem;
          }
        }
      }
    }
  }
}

//周报
.WeeklyReportSummary{
  .OperationList{

  }
  .tabs{
    margin: 1rem;
    height: 100%;
    background-color: white;
    .card {
      border-radius: 1.785rem;
    }
    .cardTitle {
      display: flex;
      margin-top: 1rem;
      margin-left: 1rem;
      width: 100%;
      font-size: 2.381rem;
      font-weight: 500;
      color: #333333;
      line-height: 3.273rem;

      .left {
        align-items: center;
        display: flex;
        width: 50%;
      }

      .right {
        width: 45%;
        text-align: end;
        height: 5.505rem;
        font-size: 3.868rem;
        font-weight: 500;
        color: #3FAAFF;
        line-height: 5.506rem;
      }
    }
    .cardCont {
      display: flex;
      margin: 0.8rem;
      width: 100%;
      font-size: 2.083rem;
      font-weight: 400;
      color: #666666;
      line-height: 2.976rem;

      .left {
        width: 50%;
      }

      .right {
        width: 45%;
        text-align: end;
        height: 2.976rem;
        font-size: 2.083rem;
        font-weight: 400;
        color: #666666;
        line-height: 2.976rem;
      }
    }
  }
}

.workBench {
  .fastFun {
    .fastFun-head {
      //padding-left: 1rem;
      //padding-bottom: 0.5rem;
      display: flex;
      //width: 5%;
      font-size: 2.083rem;
      .font-w400();
      line-height: 2.976rem;
      color: rgba(96, 98, 102, 1);

      .fastFun-head-title {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: 7.143rem;
        width: 7.143rem;

        .fastFun-head-cont {
          width: 100%;
          height: 100%;
          display: grid;
          align-items: center;
        }
      }
    }

    .fastFun-head {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      line-height: 3.273rem;
    }
  }

  //首页项目进度
  .workBench-LifeCycleManage {
    width: 100%;
    background-color: white;

    .head {
      font-size: 2.083rem;
      //height:10rem;
      padding: 0rem;
      display: flex;
      align-items: center;

      .head-img {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
      }

      .head-icon {
        line-height: 3.273rem;
        color: rgba(192, 196, 204, 1);
      }

      .head1 {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        width: 30%;
        font-size: 2.232rem;
        .font-w600();
        line-height: 3.273rem;
        color: rgba(48, 49, 51, 1);
      }
      
      .head1:hover{
        color: #3361FF;
        & .head1-link{
          color: #3361FF;
        }
      }

      .head2 {
        display: flex;
        align-items: center;
        width: 24%;
        font-size: 2.083rem;
        .font-w400();
        line-height: 2.976rem;
        color: rgba(96, 98, 102, 1);

        .head2-title {
          display: flex;
          align-items: center;
          border-radius: 1.785rem;
          height: 4rem;

          .head2-cont {
            margin-left: 2rem;
            border-radius: 1.785rem;
            height: 1rem;
            width: 1rem;
          }
        }
      }

      .head3 {
        display: flex;
        align-items: center;
        width: 25%;
        font-size: 2.083rem;
        .font-w400();
        line-height: 2.976rem;
        color: rgba(96, 98, 102, 1);
      }

      .head4 {
        display: flex;
        align-items: center;
        //width: 20%;
        font-size: 2.083rem;
        .font-w400();
        line-height: 2.976rem;
        color: rgba(96, 98, 102, 1);
      }

      .head5 {
        display: flex;
        width: 5%;
        font-size: 2.083rem;
        .font-w400();
        line-height: 2.976rem;
        color: rgba(96, 98, 102, 1);

        .head5-title {
          display: flex;
          align-items: center;
          border-radius: 50%;
          height: 4.5rem;
          width: 4.5rem;
          background: rgba(51, 97, 255, 1);

          .head5-cont {
            display: flex;
            align-items: center;
            margin: 0.25rem;
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            background: white;
          }
        }
      }
    }

    .card {
      //display: flex;

      .title {
        width: 1%;
        display: flex;
        align-items: center;

        .right {
          display: flex;
          align-items: center;
        }
      }

      .cont1 {

        .head {
          background-color: rgba(240, 242, 245, 1);
          //height:10rem;
          padding: 1.785rem;
          display: flex;

          .head1 {
            display: flex;
            margin-left: 1rem;
            width: 35%;
            font-size: 2.083rem;
            //.font-s14();
            .font-w500();
            line-height: 3.273rem;
            color: rgba(96, 98, 102, 1);
          }

          .head2 {
            display: flex;
            width: 45%;
            font-size: 2.083rem;
            //.font-s14();
            .font-w400();
            line-height: 20px;
            color: rgba(96, 98, 102, 1);
          }
        }

        border-radius: 8px 8px 0 0;
        background: rgba(20, 38, 98, 0.0400);
        //width: 98%;
        display: block;
        //overflow-y: scroll;
        font-size: 2.083rem;
      }

      .cont2 {
        background: rgba(20, 38, 98, 0.0400);
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        // overflow-y: scroll;
        overflow: hidden;
        overflow-y: auto;
        .font-s14();

        .cont-col {
          margin-left: 2rem;
          //height: 56rem;
          .cont-col1 {
            display: flex;
            align-items: center;
            height: 3rem;
            margin: 0 0 1rem 0;

            .left {
              width: .3rem;
              height: 1.5rem;
              background-color: red;
            }

            .right {
              color: #303133;
              font-weight: 800;
              padding-left: 1rem;
              //line-height: 20px;
            }
          }
        }
        .cont-row {
          padding: 0 1.3rem;
          color: #333333;
          font-weight: 400;

          .cont-row-point {
            // margin-right: 1rem;
            // border-radius: 50%;
            // height: 1rem;
            // width: 1rem;
            margin-right: 1rem;
            height: 1rem;
            width: 1rem;
            background-color: white;
            border-radius: 50%;
            border: 0.25rem solid rgb(192, 196, 204);
          }

          .cont-row-zxqk{
            // width: 100px;
            // height: 20px;
            font-size: 12px;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #909399;
            // line-height: 20px;
            margin: 5px 0 0 14px;
          }

          .cont-row1 {
            margin: 1rem 0;
            padding-left: 2rem;
            display: inline-flex;
            align-items: center;
            .font-s12();
            color: #909399;
            font-weight: 400;

            .left {
              padding-right: 1rem;
            }

            .center {
              width: .3rem;
              height: 1.5rem;
              //background-color: red;
            }

            .right {
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }

  .ProcessStatus {
    .ProcessStatus-Div {
      .title {
        font-size: 2.083rem;
        // color: rgba(48, 49, 51, 1);
        display: flex;
        align-items: center;

        .cont-row-point {
          margin-right: 1rem;
          height: 1rem;
          width: 1rem;
          background-color: white;
          border-radius: 50%;
          border: 0.25rem solid rgb(192, 196, 204);
        }
        .title-link {
          color: #303133;
          font-weight: 600;
        }

        &:hover{
          color: #3361FF;
          & .title-link{
            color: #3361FF;
          }
        }
      }

      .cont {
        margin-top: 1.19rem;
        display: flex;
        align-items: center;

        .col1 {
          font-size: 2.083rem;
          color: rgba(144, 147, 153, 1);

          .span {
            font-size: 2.083rem;
            color: rgba(48, 49, 51, 1);
          }
        }

        .col2 {
          display: flex;
          align-items: center;

          .head-title {
            display: flex;
            align-items: center;
            border-radius: 1.785rem;
            height: 4rem;

            .head-cont {
              margin-left: 2rem;
              border-radius: 1.785rem;
              height: 1rem;
              width: 1rem;
            }
          }
        }
      }
    }
  }
}

.tableStyle {
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 1.19rem;
  }
}

