.ProjectBuilding_ProjectQueryTable {

  height: 59vh;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(20, 38, 98, 0.04);
  border-radius: 8px;
  margin: 0px 24px;
  padding: 8px 24px;

  //搜索栏
  .filterBar {

    //按钮列
    .ant-col-3 {
      width: 18%;
    }

    //前三列
    .ant-col-7 {
      width: 27%;
    }

    //取消表单下间距
    .ant-form-item {
      margin-bottom: 7px;
    }

    //查询/重置按钮
    .btnGroup {
      padding-top: 2px;
      padding-left: 16px;

      .btn-search {
        .antd-btn-primary();
      }

      .btn-reset {
        .antd-btn-default();
        margin-left: 8px;
      }
    }
  }

  .common_project-info-table-box {
    height: 300px !important;
  }


}